@use './../../styles/var';

.btn-cell {
    &-container {
        display: flex;
        justify-content: center;
        margin-top: 1rem;
    }

    &-icon {
        cursor: pointer;
        color: var.$primary;
    }
}

.btn-options {

    &-container {
        background-color: #fff;
        padding: 0.75rem;
    }

    &-item {
        padding : 0.25rem;
    }
}