@use './../../styles/var';

.cpn-cell {
    &-container {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }

    &-icon {
        cursor: pointer;
        color: var.$primary;
    }
}

