@use './../../styles/var';

.statusCell {
    color: white;
    background-color: var.$labelBackground;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    margin: auto;
    padding: 0.25rem 1.5rem;
}